<h1>Users</h1>

<% if @current_user %>
  <h3>Current User: <%= @current_user.name %></h3>
<% end %>

<% if @current_user %>
  <% if @current_user.admin %>
    <% @users.each do |user| %>
      <p><%= link_to user.name, user_path(user) %> | <%= link_to 'Delete', user_path(user), :data => {:confirm => "You sure?", :method => "delete"} %> </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Create an Account", new_user_path %>
<hr>
<br>

<% if !@current_user %>
  <%= flash[:notice] %>
  <h3>Log In</h3>
  <%= form_tag(users_log_in_path, method: 'get') do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <%= label_tag :password %>
    <%= text_field_tag :password %>
    <%= submit_tag %>
  <% end %>
<% end %>

<% if @current_user %>
  <h3><%= link_to "Log Out", users_log_out_path, method: 'get' %>
<% end %>
